img {
	width: 480px;
}

.topicData {
	margin-top: 50px;
	margin-bottom: 50px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	img {
		width: 300px;
	}

	.topicData {
		height: 1000px;
	}
}
