img {
	width: 400px;
}

.topicData {
	margin-top: 50px;
	margin-bottom: 50px;
}

#titles {
	font-size: 15px;
	width: 200px;
	margin: 0 auto;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	img {
		width: 300px;
	}

	.topicData {
		height: 1000px;
	}
}
