@import url(https://fonts.googleapis.com/css?family=Saira+Condensed);

.App {
	text-align: center;
	font-family: 'Saira Condensed', serif;
	margin: 0 auto;
}

.slider {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 340px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 60px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}
