.intro {
	color: black;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	/* h2,
	.intro {
		padding-left: 230px;
	}

	h2 {
		font-size: 40px;
	}

	.intro {
		font-size: 36px;
		padding-bottom: 100px;
	} */
}
