footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

a {
	background-color: white;
	border-radius: 10px;
}
