footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

#git,
#linkedin {
	background-color: white;
	border-radius: 10px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	footer {
		height: 160px;
		width: 100%;
		padding-right: 82px;
	}
}
