.middle {
	background-image: url('https://cdn.wallpapersafari.com/65/71/saA5LN.jpg');
	background-size: cover;
}

.topicList {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.newsOfDay {
	width: 350px;
	height: 260px;
	border: 1px solid black;
	padding: 50px;
	margin: 20px;
	margin: auto;
	background-color: white;
}
#dayImage {
	width: 330px;
	padding-bottom: -30px;
}
.newsDay {
	color: black;
	margin-top: -40px;
}

h3 {
	color: black;
}

.queriedArt {
	margin-bottom: 100px;
}

#guide {
	margin-bottom: 100px;
}

.queriedImg {
	width: 480px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.topicList {
		font-size: 18px;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 15px;
	}

	.middle {
		background-color: white;
	}

	#dayImage {
		width: 250px;
	}

	.newsOfDay {
		margin-top: 0px;
		padding-top: 50px;
		margin-right: 0;
		margin-left: 0;
		width: 280px;
	}

	#guide {
		font-size: 30px;
		height: 200px;
		padding: 0;
	}

	.queriedImg {
		width: 200px;
	}
}
