.middle {
	background-image: url('https://cdn.wallpapersafari.com/65/71/saA5LN.jpg');
	background-size: cover;
}

.topicList {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.newsOfDay {
	width: 500px;
	height: 320px;
	border: 1px solid black;
	padding: 50px;
	margin: 20px;
	margin: auto;
	background-color: white;
}
#dayImage {
	width: 450px;
	padding-bottom: -30px;
}
.newsDay {
	color: black;
	margin-top: -50px;
}

h3 {
	color: black;
}

.queriedArt {
	margin-bottom: 100px;
}

#guide {
	margin-bottom: 100px;
}

.queriedImg {
	width: 480px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.topicList {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 160%;
	}

	#dayImage {
		width: 300px;
	}

	.newsOfDay {
		height: 250px;
	}
}
