header {
	background-color: black;
	text-align: right;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: auto;
}

#aboutUs {
	color: white;
	margin-right: 15px;
}

#homeTitle {
	margin-top: 40px;
}

.stockNav {
	background-color: black;
}
