.comments {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

.fetched {
	margin-top: 50px;
}

h2 {
	color: rgb(97, 96, 96);
}

.subInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}

span {
	color: rgb(97, 96, 96);
}

.briefDesc {
	word-break: break-all;
}

a {
	color: black;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.fetched {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 150px;
		margin-top: 0;
	}
	.subInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 200px;
	}

	.author {
		font-size: 30px;
	}
	.topic {
		font-size: 30px;
	}

	h4 {
		padding-left: 50px;
	}

	.commentSec {
		margin-bottom: 50px;
	}

	#fetchedImg {
		width: 300px;
		padding-left: 40px;
	}

	#fetchedTitle {
		width: 300px;
		padding-left: 40px;
	}
}
