section {
	display: grid;
	flex-direction: column;
}

.comments {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	justify-content: center;
}

.commentCont {
	width: 300px;
	border: 3px solid #333;
	padding: 15px 10px;
}

.container {
	width: 400px;
}

.fetched {
	margin-top: 50px;
}

#fetchedImg {
	width: 400px;
}

h2 {
	color: rgb(97, 96, 96);
}

.subInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}

.fetchedTwo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

span {
	color: rgb(97, 96, 96);
}

a {
	color: black;
}

#deleteButton {
	color: red;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.fetched {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 150px;
		margin-top: 0;
	}

	.commentCont {
		margin-left: 0;
		margin-left: -30px;
		width: 250px;
		height: 80px;
		margin-bottom: 50px;
	}
	.subInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 200px;
	}

	.author {
		font-size: 30px;
	}
	.topic {
		font-size: 30px;
	}

	h4 {
		padding-left: 50px;
	}

	.commentSec {
		margin-bottom: 50px;
	}

	#fetchedImg {
		width: 300px;
		padding-left: 40px;
	}

	#fetchedTitle {
		width: 300px;
		padding-left: 40px;
	}
}
