.slider {
	background: white;
}

.left-arrow {
	padding-left: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	padding: 3px;
}

.right-arrow {
	margin-right: -280px;
	border: solid black;
	border-width: 0 3px 3px 0;
	padding: 3px;
}

.imageSlide {
	width: 500px;
	height: 250px;
	margin-top: -60px;
	margin-left: auto;
}

.title {
	color: black;
	font-size: 20px;
}

.img_wrap {
	position: relative;
	text-align: center;
	height: 200px;
	width: 460px;
}

.briefDesc {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
	font-size: 24px;
	margin-left: 50px;
	margin-right: 10px;
	margin-bottom: 30px;
	background: rgba(150, 157, 162, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .briefDesc {
	visibility: visible;
	opacity: 1;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.imageSlide {
		width: 300px;
		height: 200px;
		margin-top: -130px;
		padding-bottom: 50px;
		margin-left: -195px;
	}
	.slider {
		padding-left: 230px;
	}

	.title {
		font-size: 18px;
		margin-bottom: 250px;
	}

	.left-arrow {
		margin-left: 100px;
		margin-top: -130px;
	}
	.right-arrow {
		margin-right: -410px;
		margin-top: -130px;
	}
}
