.stockStatus {
	color: white;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

.stock {
	color: white;
	font-weight: bold;
}

#current {
	color: red;
}

#highest {
	color: green;
}

#lowest {
	color: yellow;
}

#opening {
	color: rgb(189, 29, 184);
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.stockStatus {
		color: white;
		display: flex;
		justify-content: center;
	}
}
